@font-face {
  font-family: "product_sans_blackregular";
  src: url("../Fonts/productsans-regular-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansbold";
  src: url("../Fonts/productsans-bold-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansregular";
  src: url("../Fonts/productsans-regular-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "product_sansregular", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: "product_sansregular", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #24419f;
  text-decoration: none;
}

.avatar-btn {
  border-radius: 1.2rem;
  border-width: 0;
  margin: -32px 0;
  padding: 0;

  box-shadow: 0px 1px 20px rgba(30, 34, 37, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10% 0.05rem 10%;
  background-color: #24419f09;
}

.brand-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.avatar-img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out 0s;
}

.avatar-btn:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.nav_links li {
  display: inline-block;
}

.nav_links {
  transition: all 0.3s ease-in-out 0s;
}

.nav_links li a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  border-radius: 1rem;
}

.nav_links li a:hover {
  color: #41249fd7;
  background-color: #3053c50a;
}

.submit-right-arrow {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.7rem;
  margin-top: -0.1rem;
}

.btn-submit {
  height: 46px;
  width: 167px;
  display: flex;
  justify-content: center;
  background: #24419f;
  border-radius: 25px;
  font-family: "product_sansbold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding-top: 0.6rem;
}
.btn-submit:hover {
  box-shadow: 0px 4px 20px rgba(27, 90, 148, 0.2);
}
.btn-submit a {
  text-decoration: none;
  color: white;
}

.container {
  margin-top: 100px;
}
button {
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}
form {
  margin-top: 50px;
  font-size: 25px;
}
small {
  font-size: 15px;
}
